:root {
    --font-black: black;
    --primary-orange: #FFA500;
    --secondary-orange: #ec8612;
    --white: #FFFFFF;
    --background-gray: #D9D9D9;

    --default-font: "Open Sans", sans-serif;
    --highlight-font: "Bebas Neue", sans-serif;
}