.filter_button {
    max-width: 150px;
    min-width: 100px;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    border-radius: 10px;
    background-color: var(--primary-orange);
    font-weight: bold;
    color: var(--font-filter-button-color);
    text-decoration: none;
    transition-duration: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.filter_button:hover {
    background-color: var(--secondary-orange);
}


@media screen and (max-width: 660px) {
    .filter_button {
        max-width: 90%;
        font-size: 0.5em;
         min-width: 60px;
    }
}

@media screen and (max-width: 1380px) {
    .filter_button {
        max-width: 90%;
        font-size: 1.1em;
         min-width: 60px;
    }
}

@media screen and (max-width: 880px) {
    .filter_button {
        max-width: 80%;

        min-width: 60px;
    }
}