@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.page {
    font-family: "Open Sans", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-body-color);
    position: relative;
    padding-bottom: 340px;
}

.wrapper {
    margin: 2rem;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 18rem));
    justify-content: center;
    transition: all 0.5s ease;
}

.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: var(--default-font);
    position: relative;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    background-color: var(--background-card-color);
    padding: 20px 0px 20px 0px;
}

.text {
    font-size: 1.4em;
    font-family: var(--default-font);
    text-align: center;
    font-weight: bold;
    line-height: 0.9;
    flex-wrap: wrap;
    color: var(--font-navbar-color);
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    .wrapper {
        grid-template-columns: 1fr;
    }

    .filters {
        max-width: 90%;
        font-size: 0.6em;
    }
}

@media screen and (max-width: 1380px) {
    .filters {
        max-width: 60%;
    }

    .text {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 880px) {
    .filters {
        max-width: 80%;
    }
}