.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 340px;
    flex-direction: column;
}

.footer_content {
    text-align: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-orange);
    display: flex;
    flex-wrap: nowrap;
    padding: 60px 40px;
    gap: 20px;
}

.contacts {
    justify-content: center;
    justify-items: center;
}

.contacts h1 {
    margin-bottom: 15px;
}

.social_media {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.social_media>.social_link {
    width: 50px;
    height: 50px;
    align-items: center;
    color: var(--font-footer-color);
    transition: all 0.5s ease;
}

.social_media>.social_link:hover {
    color: var(--secondary-orange);
}

.social_media>.social_link a {
    text-decoration: none;
}

.sobre_text {
    width: 100%;
    max-width: 360px;
    min-width: 120px;
    text-align: center;
}

.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
}

.list>li>.sobre_link {
    color: var(--font-footer-color);
    transition: all 0.5s ease;
    font-weight: bold;
}

.list>li>.sobre_link:hover {
    color: var(--secondary-orange);
}

.copyright {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 20px;
    font-weight: 200;
    background-repeat: black;
    color: var(--font-copyright-color);
    background-color: var(--background-copyright-color);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer_content {
        gap: 20px
    }
}

@media screen and (max-width: 426px) {
    .footer_content {
        padding: 60px 40px;
    }
}

@media screen and (max-width: 766px) {
    .footer_content {
        flex-wrap: wrap;
        gap: 40px;
    }
}